body{
    background-color: rgb(88, 102, 204);
}
div{
    display: flex;
    justify-content: center;
    gap: 20px;
}
a:link,a:visited{
    color: black;
    padding: 4px;
    text-align: center;
    text-decoration: none;

}

.btn1{
    background-color: white;
    border: solid 4px;
    border-top-color: rgb(35, 197, 14);
    border-bottom-color: red;
    border-left-color: blue;
    border-right-color: rgb(224, 224, 0);
}
.btn2{
    background-color: rgb(0, 0, 255);
    border: solid 4px;
    border-color: white;
}
.btn3{
    background-color: white;
    border: solid 4px;
    border-color: rgb(187, 14, 14);
}
.btn4{
    background-color:orange;
    border: solid 4px;
}
.btn5{
    background-color: #ff0000;
    border: solid 4px;
    border-color: white;
}
.btn6{
    background-color: white;
    border: solid 4px;
}
.btn7{
    background-color: grey
    ;
    border: solid 4px;
}
